// Colors
$primary-color: #4A6CF7;
$secondary-color: #8A74F9;
$white: #fff;
$black: #333;
$gray: #666;
$light-gray: #AAA;
$background-light: #F8F9FF;
$background-dark: #151C39;
$footer-dark: #10152D;

// Font Sizes
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-xlarge: 22px;
$font-size-xxlarge: 28px;
$font-size-xxxlarge: 42px;
$font-size-hero-title: 56px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;